.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
  .MainContentLink {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #31f600;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainContentLink {
  color: 333;
  font-size: 80px;
  border: red;
  border-radius: 100px;
}

.BeanStyle {
  color: fuchsia;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  from {
    width: auto;
  }
  to {
    width: 100px;
  }
}
